# SSO 客户端ID
# CLIENT_ID
# SSO 客户端机密
# CLIENT_SECRET
# 重定向位置
# REDIRECT
# 是否启用 Redis 集群模式
# REDIS_CLUSTER
# 通用托底错误重定向位置
# COMMON_ERROR_REDIRECT
# 人类可读的SSO名称
# APP_NAME
# Swagger 文档标题
# SWAGGER_TITLE?
# Swagger 文档简介
# SWAGGER_DESC?
# Swagger 版本
# VERSION?
# 超级管理员密码, 如果不设置则随机生成
# ADMIN_PWD?